{% extends 'layout/base.html' %}

{% block content %}
{% if chuyenbays %}
<h1 class="text-center text-info" xmlns="http://www.w3.org/1999/html">Các chuyến bay từ {{ sb1 }} - {{ sb2 }}</h1>
<table class="table">
    <thead class="text-center">
    <tr>
        <th class="text-info">Tên Chuyến Bay</th>
        <th class="text-info">Sân Bay Đi</th>
        <th class="text-info">Sân Bay Đến</th>
        <th class="text-info">Giá Tiền</th>
    </tr>
    </thead>
    <tbody class="text-center">
    {% for i in range(count) %}
    <tr class="chuyenbay">
        <td>{{ chuyenbays[i].ten_chuyen_bay }}</td>
        <td>
            <h5 class="line-1">{{ chuyenbays[i].san_bay[0] }}</h5>
            <h5 class="line-2">{{ "{:%H:%M}".format(chuyenbays[i].tg_khoihanh) }}</h5>
            <h5 class="line-3">{{ "{:%d %b, %Y}".format(chuyenbays[i].tg_khoihanh) }}</h5>
        </td>
        <td>
            <h5 class="line-1">{{ chuyenbays[i].san_bay[1] }}</h5>
            <h5 class="line-2">{{ "{:%H:%M}".format(tg_dens[i]) }}</h5>
            <h5 class="line-3">{{ "{:%d %b, %Y}".format(tg_dens[i]) }}</h5>
        </td>
        <td>
            <h4 class="line-1" style="font-size:20px">{{ chuyenbays[i].giave_hv2 }}</h4>
            <a href="/datve/id={{chuyenbays[i].id}}" class="btn btn-primary input datve">Đặt Vé</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-danger">
    <h3>Không có chuyến bay nào</h3>
</div>
{% endif %}
{% endblock %}
